<!--Footer-->
<footer class="center">
  <address>
    Contact Me:<br>
    e-mail: <a href="mailto:aditya.gadige@siu.edu">aditya.gadige@siu.edu</a><br>
  </address>
  <a class="footer-link" href="https://www.instagram.com/aditya.gadige/">Instagram</a>
  <a class="footer-link" href="https://twitter.com/AdityaGadigae">Twitter</a><br>
  <p>© 2020 Aditya Gadige.</p>
</footer>
<script src="./js/index.js" charset="utf-8"></script>
<script src="./js/game.js" charset="utf-8"></script>
</body>
</html>
