<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Aditya Gadige">
  <meta name="description" content="Aditya's Portfolio">
  <meta name="keywords" content="aditya's profile,aditya's home page,siuc,aditya gadige, more about aditya, aditya details, Aditya's music, fav music, Aditya's audio">

  <!-- Google fonts https://fonts.google.com/ -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=PT+Serif&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/styles.css">
  <!-- favicon to style title bar icon-->
  <link rel="icon" href="./images/favicon.ico">

  <title>Home Page</title>
</head>

<body>

  <!-- Navigation Links -->
  <nav class="nav-link">
    <a href="/"><button type="button" class="button">Home</button></a>
    <a href="/aboutme"><button type="button" class="button">More about me</button></a>
    <a href="/feedback"><button type="button" class="button">Feedback form</button></a>
  </nav>
